$primary_color: #A4DB46;
$green: #A4DB46;
$gray: #41535A;
$black: #1B2213;
$light_gray: #cdcdcd;
$bold_blue: #1F2D43;
$second_white: #f4f4f4;  
$light_green: #F9FBFE;
$white: #fff;
$jose: var(--font-jose);
