@use "../base/variable.scss" as variable;

.benefit_section{
    position: relative;
    padding-block: 60px;
    &::after{
        content: "";
        display: block;
        position: absolute;
        background-image: url(../../images/bgr.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 280px;
        height: 450px;
        top: 90px;
        left: 0;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        background-image: url(../../images/greenl.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        bottom: 0;
        right: 0;
    }
    .benefit_inner{
        width: 833px;
        max-width: 100%;
        margin-inline: auto;
        .heading_section{
            width: 500px;
            max-width: 100%;
            margin-inline: auto;
            &::after{
                content: "";
                display: block;
                clear: both;
            }
            .icon{
                position: relative;
                width: 50px;
                height: 50px;
                float: left;
            }
            .heading_text{
                float: right;
                width: calc(100% - 50px);
                padding-left: 15px;
                // text-align: center;
                span{

                    font-size: 34px;
                    font-weight: 700;
                    font-family: variable.$jose;
                    color: variable.$black;
                    
                    .text_green{
                        color: variable.$green;
                    }
                }
                p{
                    font-family: variable.$jose;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24.8px;
                    text-align: center;
                    color: variable.$gray;
                    word-break: break-all;
                }
            }
        }
        .image_section{
            position: relative;
            text-align: center;
            width: 745px;
            max-width: 100%;
            height: 745px;
            margin-inline: auto;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
            


        }
    }
}


@media(min-width: 992px) and (max-width: 1199px){
    .benefit_section{
        &::after{
            width: 175px;
            height: 310px;
            top: 150px;
            left: 0;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            background-image: url(../../images/greenl.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            bottom: 0;
            right: 0;
        }
        .benefit_inner{
            
            .image_section{
                width: 500px;
                height: 500px;
                
            }
        }
}
}
@media(min-width: 768px) and (max-width: 991px){
    .benefit_section{
        padding-block: 40px;
        &::after{
            width: 175px;
            height: 310px;
            top: 150px;
            left: 0;
        }
        .benefit_inner{
            .heading_section{
                width: 445px;
                .heading_text{
                    span{
                        font-size: 30px;
                    }
                    
                }
            }
            .image_section{
                width: 468px;
                height: 466px;
            }
        }
    }
}
@media(min-width: 576px) and (max-width: 767px){
    .benefit_section{
        padding-block: 40px;
        &::after{
            width: 136px;
            height: 239px;
            top: 53px;
            left: 0;
        }
        &::before{
            width: 62px;
            height: 62px;
        }
        .benefit_inner{
            .heading_section{
                width: 378px;
                .icon{
                    width: 40px;
                    height: 40px;

                }
                .heading_text{
                    padding-left: 5px;
                    span{
                        font-size: 25px;
                    }
                    
                }
            }
            .image_section{
                width: 372px;
                height: 360px;
                
            }
        }
    }
}
@media(min-width: 361px) and (max-width: 576px){
    .benefit_section{
        padding-block: 30px;
        &::after{
            display: none;
        }
        &::before{
            width: 62px;
            height: 62px;
        }
        .benefit_inner{
            .heading_section{
                width: 320px;
                max-width: 100%;
                .icon{
                    width: 30px;
                    height: 30px;

                }
                .heading_text{
                    width: calc(100% - 30px);
                    padding-left: 5px;
                    span{
                        font-size: 22px;
                    }
                    p{
                        padding-top: 5px;
                        margin-left: -35px;
                        line-height: 18.8px;
                    }
                }
            }
            .image_section{
                width: 317px;
                height: 320px;
            }
        }
    }
}
@media(max-width: 360px){
    .benefit_section{
        padding-block: 25px;
        &::after{
            display: none;
        }
        &::before{
            width: 40px;
            height: 40px;
        }
        .benefit_inner{
            .heading_section{
                width: 290px;
                max-width: 100%;
                .icon{
                    width: 30px;
                    height: 24px;
                }
                .heading_text{
                    width: calc(100% - 30px);
                    padding-left: 5px;
                    span{
                        font-size: 22px;
                        line-height: 18px;
                    }
                    p{
                        margin-left: -35px;
                        line-height: 18.8px;
                        padding-block: 8px;
                    }
                }
            }
            .image_section{
                height: 280px;
                
            }
        }
    }
}
