@use "../base/variable.scss" as variable;

.products_section{
    padding-block: 60px;
    background-color: variable.$light_green;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    .products_inner{
        .text_area{
            text-align: center;
            span{
                font-family: variable.$jose;
                font-size: 34px;
                font-weight: 700;
                line-height: 34px;
                color: variable.$black;
                &:first-child{
                    color: variable.$green;
                }
            }
            p{
                font-family: Josefin Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 24.8px;
                text-align: center;
                width: 500px;
                max-width: 100%;
                margin: 0 auto;

            }

        }
        .products_cards{
            display: flex;
            gap: 20px;
            overflow: hidden;

            
            .card{
                transition: all .4s ease-in;
                padding-block: 20px;
                width: calc(100% / 3);
                height: 320px;
                &.active,&:hover{
                    width: 60% ;
                    // width: calc(100% / 3);
                    background: radial-gradient(50% 50% at 50% 50%, #FBFFF4 23.5%, rgba(225, 244, 191, 0.35) 100%);
                    .image_section{
                        
                        .image_inner{
                            height: 180px;
                        }
                    }
                    .product_detail_section{
                        h3{
                            text-align: start;
                        }
                        .product_detail{
                            
                            opacity: 1;
                            
                            .icon{
                                display: block;
                            }
                        }
                    }
                }
                .image_section{
                    margin-bottom: 20px;
                    .image_inner{
                        position: relative;
                        max-width: 220px;
                        
                        height: 234px;
                        margin-inline: auto;
                        transition: all .4s ease-in;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                    
                    
                }
                .product_detail_section{
                    position: relative;
                    h3{
                        font-family: Josefin Sans;
                        font-size: 18px;
                        font-weight: 600;
                        text-align: center;
                        padding-inline: 30px;
                    }
                    .product_detail{
                        padding-inline: 30px;
                        position: absolute;
                        display: flex;
                        align-items: center ;
                        opacity: 0;
                        left: 0;
                        right: 0;
                        top: 30px;
                        transition: all .3s ease-in;
                        &::after{
                            content: "";
                            display: block;
                            clear: both;
                        }
                        p{
                            float: left;
                            width: calc(100% - 30px);
                            padding-right: 15px;
                        }
                        .icon{
                            float: right;
                            align-content: center;
                            text-align: center;
                            border-radius: 50%;
                            float: right;
                            width: 30px;
                            height: 30px;
                            border: 1px solid variable.$green;
                            .right_arrow{
                                color: variable.$green;
                            }
                        }
                    }
                }
            }
        }
        
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .products_section{
        .products_inner{
            .products_cards{             
                .card{
                    height: 300px;
                    &.active,&:hover{
                        width: 55% ;
                        .image_section{
                            .image_inner{
                                width: 220px;
                                height: 170px;
                            }
                        }
                        .product_detail_section{
                            h3{
                                
                                text-align: start;
                            }
                        }
                    }
                    .image_section{
                        .image_inner{
                            width: 170px;
                            height: 210px;
                        }
                    }
                    .product_detail_section{
                        position: relative;
                        h3{
                            font-size: 18px;
                            padding-inline: 15px;
                        }
                        .product_detail{
                            padding-inline: 15px;
                            top: 30px;
                            p{
                                width: calc(100% - 30px);
                                font-size: 14px;
                                // font-family: variable.$jose;

                            }
                        }
                    }
                }
            }
            
        }
    }
}   
@media(min-width: 768px) and (max-width: 991px){
    .products_section{
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
        .products_inner{
            .products_upper{
                .text_area{
                    span{
                        font-size: 30px;
                    }
                }
            }
            .products_cards{             
                .card{
                    height: 320px;
                    &.active,&:hover{
                        // width: 55% ;
                        width: calc(100% / 3);

                        .image_section{
                            .image_inner{
                                width: 220px;
                                height: 155px;
                            }
                        }
                        .product_detail_section{
                            h3{
                                
                                text-align: start;
                            }
                        }
                    }
                    .image_section{
                        margin-bottom: 10px;
                        .image_inner{
                            width: 170px;
                            height: 210px;
                        }
                    }
                    .product_detail_section{
                        position: relative;
                        h3{
                            font-size: 18px;
                            padding-inline: 15px;
                        }
                        .product_detail{
                            padding-inline: 15px;
                            top: 30px;
                            p{
                                width: calc(100% - 30px);
                                font-size: 14px;
                                // font-family: variable.$jose;

                            }
                        }
                    }
                }
            }
            
        }
    }
}
@media(min-width: 576px) and (max-width: 767px){
    .products_section{
        padding-block: 30px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        .products_inner{
            .products_upper{
                .text_area{
                    span{
                        font-size: 25px;
                    }
                }
            }
            .products_cards{ 
                flex-wrap: wrap;            
                .card{
                    height: 276px;
                    flex-shrink: 0;
                    overflow: hidden;
                    width: calc((100% - 24px) / 2 );
                    &.active,&:hover{
                        width: calc((100% - 24px) / 2 );
                        .image_section{
                            .image_inner{
                                max-width: 220px;
                                height: 136px;
                            }
                        }
                        .product_detail_section{
                            h3{
                                
                                text-align: start;
                            }
                        }
                    }
                    .image_section{
                        margin-bottom: 10px;
                        .image_inner{
                            max-width: 170px;
                            height: 155px;
                        }
                    }
                    .product_detail_section{
                        position: relative;
                        h3{
                            font-size: 16px;
                            padding-inline: 10px;
                        }
                        .product_detail{
                            padding-inline: 10px;
                            top: 30px;
                            p{
                                width: calc(100% - 30px);
                                font-size: 14px;
                                // font-family: variable.$jose;

                            }
                        }
                    }
                }
            }
            
        }
    }
}
@media(min-width: 361px) and (max-width: 575px){
    .products_section{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding-block: 25px;
        .products_inner{
            .products_upper{
                .text_area{
                    span{
                        font-size: 22px;
                    }
                }
            }
            .products_cards{ 
                flex-wrap: wrap;            
                .card{
                    height: 276px;
                    flex-shrink: 0;
                    overflow: hidden;
                    width: 100%;
                    &.active,&:hover{
                        width: 100%;
                        .image_section{
                            .image_inner{
                                max-width: 220px;
                                height: 155px;
                            }
                        }
                        .product_detail_section{
                            h3{
                                
                                text-align: start;
                            }
                        }
                    }
                    .image_section{
                        margin-bottom: 10px;
                        .image_inner{
                            max-width: 170px;
                            height: 190px;
                        }
                    }
                    .product_detail_section{
                        position: relative;
                        h3{
                            font-size: 16px;
                            padding-inline: 10px;
                        }
                        .product_detail{
                            padding-inline: 10px;
                            top: 30px;
                            p{
                                width: calc(100% - 30px);
                                font-size: 14px;
                                // font-family: variable.$jose;

                            }
                        }
                    }
                }
            }
            
        }
    }
}
@media(max-width: 360px){
    .products_section{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-block: 25px;
        .products_inner{
            .products_upper{
                .text_area{
                    span{
                        font-size: 22px;
                    }
                }
            }
            .products_cards{ 
                flex-wrap: wrap;            
                .card{
                    height: 276px;
                    flex-shrink: 0;
                    overflow: hidden;
                    width: 100%;
                    &.active,&:hover{
                        width: 100%;
                        .image_section{
                            .image_inner{
                                max-width: 220px;
                                height: 150px;
                            }
                        }
                        .product_detail_section{
                            h3{
                                
                                text-align: start;
                            }
                        }
                    }
                    .image_section{
                        margin-bottom: 10px;
                        .image_inner{
                            max-width: 170px;
                            height: 190px;
                        }
                    }
                    .product_detail_section{
                        position: relative;
                        h3{
                            font-size: 16px;
                            padding-inline: 10px;
                        }
                        .product_detail{
                            padding-inline: 10px;
                            top: 30px;
                            p{
                                width: calc(100% - 30px);
                                font-size: 14px;
                                // font-family: variable.$jose;

                            }
                        }
                    }
                }
            }
            
        }
    }
}