* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5{
  margin-bottom: 0;
}
ul{
  margin-bottom: 0;
  padding-left: 0;
  margin-bottom: 0;
}
li{
  list-style: none;
  display: inline-block;
}

/* Horizontal Scrollbar */
::-webkit-scrollbar {
  height: 7px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar:horizontal {
  width: 558px; /* Width of the horizontal scrollbar */
}

/* Horizontal Scrollbar Track */
::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1; /* Background color for the scrollbar track */
  border-radius: 10px 0px 0px 0px; /* Rounded corners */
}

/* Horizontal Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #A4DB46; /* Thumb color */

}

/* Hover Effect on Horizontal Thumb */
::-webkit-scrollbar-thumb:hover {
  background: #A4DB46; /* Darker color on hover */
}
